
@using ELECTIENDA.ViewModel
@model RoleAddViewModel;

<form  method="post" asp-action="Add" asp-controller="Role" >

    <div class="form-group">
        <label asp-for="ID"> </label>
        <input asp-for="ID"  />
        <span asp-validation-for="ID"> </span>
    </div>

    <div class="form-group">
        <label asp-for="Name"> </label>
        <input asp-for="Name"/> 
        <span asp-validation-for="Name"> </span>
    </div>

   
    
    <button type="submit" class="form-group" > Add </button>


</form>