
@{
    Layout = "_Layout";
}

@section StyleSection
{
    <link rel="stylesheet" href="~/Content/CSS/Home.css"/>

}

  <section class="container">
        <div class="row ">
            <div class="col-4 position-relative secsmart">
                <div class="overflow-hidden">
                    <a href="" class="">
                        <img src="imgs/3.jpg" alt="">
                    </a>
                </div>
                <div class="position-absolute sec2smart">
                    <h4 class="">
                        <span class="">SMARTPHONES</span>
                        <i class="fa-solid fa-chevron-right top-50 end-50"></i>
                        <p class="fs-6">from $900</p>
                    </h4>
                </div>
            </div>
            <div class="col-8">
                <div class="row mb-4">
                    <div class="col-6 position-relative secsmart">
                        <div class="overflow-hidden">
                            <a href="" class="">
                                <img src="imgs/4.jpg" alt="">
                            </a>
                        </div>
                        <div class="position-absolute sec2smart">
                            <h4 class="">
                                <span class="">TABLETS</span>
                                <i class="fa-solid fa-chevron-right top-50 end-50"></i>
                                <p class="fs-6">from $900</p>
                            </h4>
                        </div>
                    </div>
                    <div class="col-6 position-relative secsmart">
                        <div class="overflow-hidden">
                            <a href="" class="">
                                <img src="imgs/5.jpg" alt="">
                            </a>
                        </div>
                        <div class="position-absolute sec2smart">
                            <h4 class="">
                                <span class="">LAPTOPS</span>
                                <i class="fa-solid fa-chevron-right top-50 end-50"></i>
                                <p class="fs-6">from $900</p>
                            </h4>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6 position-relative secsmart">
                        <div class="overflow-hidden">
                            <a href="" class="">
                                <img src="imgs/6.jpg" alt="">
                            </a>
                        </div>
                        <div class="position-absolute sec2smart">
                            <h4 class="">
                                <span class="">HEADPHONES</span>
                                <i class="fa-solid fa-chevron-right top-50 end-50"></i>
                                <p class="fs-6">from $900</p>
                            </h4>
                        </div>
                    </div>
                    <div class="col-6 position-relative secsmart">
                        <div class="overflow-hidden">
                            <a href="" class="">
                                <img src="imgs/7.jpg" alt="">
                            </a>
                        </div>
                        <div class="position-absolute sec2smart">
                            <h4 class="">
                                <span class="">SMART TV</span>
                                <i class="fa-solid fa-chevron-right top-50 end-50"></i>
                                <p class="fs-6">from $900</p>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="container">
        <h4 class="text-center mb-4">Brands</h4>
        <div class="row">
            <div class="col-3">
                <a href=""> <button class="btn transperent border border-2 border-dark w-100">
                        <h5>MOSINO </h5>
                    </button></a>
            </div>

            <div class="col-3">
                <a href=""> <button class="btn transperent border border-2 border-dark w-100">
                        <h5> NOADO </h5>
                    </button></a>
            </div>

            <div class="col-3">
                <a href=""> <button class="btn transperent border border-2 border-dark w-100">
                        <h5> Consequer </h5>
                    </button></a>
            </div>

            <div class="col-3">
                <a href=""> <button class="btn transperent border border-2 border-dark w-100">
                        <h5>MOSINO </h5>
                    </button></a>
            </div>

        </div>

    </section>

    <section class="container ">
        <h4 class="">FLASH DEALS</h4>
        <div class="progress mt-4 mb-4" style="height: 3px;">
            <div class="progress-bar bg-danger" role="progressbar" style="width: 18%;" aria-valuenow="25"
                aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <div class="row">
            <div class="card col-3 border-0">
                <a href="" class="imgStyle img1Style "></a>
                <!-- <img src="imgs/8" alt="..."> -->
                <div class="card-body lh-lg">
                    <p class="">product </p>
                    <p>category</p>
                    <p>
                        <i class="fa-solid fa-star text-secondary "></i>
                        <i class="fa-solid fa-star text-secondary"></i>
                        <i class="fa-solid fa-star text-secondary"></i>
                        <i class="fa-solid fa-star text-secondary"></i>
                        <i class="fa-solid fa-star text-secondary"></i>
                    </p>
                    <p><span class="text-decoration-line-through text-secondary">$89 </span><span
                            class="text-danger">$49</span></p>
                    <p>
                        <i class="fa-solid fa-circle text-danger"></i>
                        <i class="fa-solid fa-circle text-dark"></i>
                        <i class="fa-solid fa-circle text-warning"></i>
                        <i class="fa-solid fa-circle text-secondary"></i>
                    </p>
                    <a href=" "> <button class="btn btn-transperent border-dark">Select Options</button></a>
                </div>
            </div>
            <div class="card col-3 border-0">
                <a href="" class="imgStyle img2Style "></a>
                <!-- <img src="imgs/9.webp" class="card-img-top" alt="..."> -->
                <div class="card-body lh-lg">
                    <p class="">product </p>
                    <p>category</p>
                    <p>
                        <i class="fa-solid fa-star text-secondary "></i>
                        <i class="fa-solid fa-star text-secondary"></i>
                        <i class="fa-solid fa-star text-secondary"></i>
                        <i class="fa-solid fa-star text-secondary"></i>
                        <i class="fa-solid fa-star text-secondary"></i>
                    </p>
                    <p><span class="text-decoration-line-through text-secondary">$89 </span><span
                            class="text-danger">$49</span></p>
                    <p>
                        <i class="fa-solid fa-circle text-danger"></i>
                        <i class="fa-solid fa-circle text-dark"></i>
                        <i class="fa-solid fa-circle text-warning"></i>
                        <i class="fa-solid fa-circle text-secondary"></i>
                    </p>
                    <a href=""> <button class="btn btn-transperent border-dark">Select Options</button></a>
                </div>
            </div>
            <div class="card col-3 border-0">
                <a href="" class="imgStyle img3Style "></a>
                <!-- <img src="imgs/10.webp" class="card-img-top" alt="..."> -->
                <div class="card-body lh-lg">
                    <p class="">product </p>
                    <p>category</p>
                    <p>
                        <i class="fa-solid fa-star text-secondary "></i>
                        <i class="fa-solid fa-star text-secondary"></i>
                        <i class="fa-solid fa-star text-secondary"></i>
                        <i class="fa-solid fa-star text-secondary"></i>
                        <i class="fa-solid fa-star text-secondary"></i>
                    </p>
                    <p><span class="text-decoration-line-through text-secondary">$89 </span><span
                            class="text-danger">$49</span></p>
                    <p>
                        <i class="fa-solid fa-circle text-danger"></i>
                        <i class="fa-solid fa-circle text-dark"></i>
                        <i class="fa-solid fa-circle text-warning"></i>
                        <i class="fa-solid fa-circle text-secondary"></i>
                    </p>
                    <a href=""> <button class="btn btn-transperent border-dark">Select Options</button> </a>
                </div>
            </div>
            <div class="card col-3 border-0">
                <a href="" class="imgStyle img4Style"></a>
                <!-- <img src="imgs/11.webp" class="card-img-top" alt="..."> -->
                <div class="card-body lh-lg">
                    <p class="">product </p>
                    <p>category</p>
                    <p>
                        <i class="fa-solid fa-star text-secondary "></i>
                        <i class="fa-solid fa-star text-secondary"></i>
                        <i class="fa-solid fa-star text-secondary"></i>
                        <i class="fa-solid fa-star text-secondary"></i>
                        <i class="fa-solid fa-star text-secondary"></i>
                    </p>
                    <p><span class="text-decoration-line-through text-secondary">$89 </span><span
                            class="text-danger">$49</span></p>
                    <p>
                        <i class="fa-solid fa-circle text-danger"></i>
                        <i class="fa-solid fa-circle text-dark"></i>
                        <i class="fa-solid fa-circle text-warning"></i>
                        <i class="fa-solid fa-circle text-secondary"></i>
                    </p>
                    <a href=""> <button class="btn btn-transperent border-dark">Select Options</button> </a>
                </div>
            </div>
        </div>
    </section>

    <section class="container">
        <div class="row">
            <div class="card col-6 border-0 div1Style ">
                <a href="" class="overflow-hidden"> <img
                        src="https://cdn.shopify.com/s/files/1/0071/4755/2866/files/sub-banner-2.jpg?v=1635771970"
                        class="card-img-top" alt="..."> </a>
            </div>
            <div class="card col-6 border-0 div1Style  ">
                <a href="" class="overflow-hidden"> <img
                        src="https://cdn.shopify.com/s/files/1/0071/4755/2866/files/sub-banner-2.jpg?v=1635771970"
                        class="card-img-top" alt="..."> </a>
            </div>
        </div>

    </section>

    <section class="container  ">
        <h4 class="">NEW IN</h4>
        <div class="progress mt-4 mb-4" style="height: 3px;">
            <div class="progress-bar" role="progressbar" style="width: 18%;" aria-valuenow="25" aria-valuemin="0"
                aria-valuemax="100"></div>
        </div>
        <div class="row  justify-content-between">
            <div class="col-4 cardStyle card1Style">
                <button class="btn transperent border border-2 border-dark p-2 ">SHOP NOW</button>
            </div>
            <div class="card col-2 border-0">
                <a href="" class="imgStyle img5Style "></a>
                <!-- <img src="imgs/1.jpg" class="card-img-top" alt="..."> -->
                <div class="card-body lh-lg">
                    <p class="">product </p>
                    <p>category</p>
                    <p>
                        <i class="fa-solid fa-star text-secondary "></i>
                        <i class="fa-solid fa-star text-secondary"></i>
                        <i class="fa-solid fa-star text-secondary"></i>
                        <i class="fa-solid fa-star text-secondary"></i>
                        <i class="fa-solid fa-star text-secondary"></i>
                    </p>
                    <p><span class="text-decoration-line-through text-secondary">$89 </span><span
                            class="text-danger">$49</span></p>
                    <p>
                        <i class="fa-solid fa-circle text-danger"></i>
                        <i class="fa-solid fa-circle text-dark"></i>
                        <i class="fa-solid fa-circle text-warning"></i>
                        <i class="fa-solid fa-circle text-secondary"></i>
                    </p>
                    <a href=" "> <button class="btn btn-transperent border-dark">Select Options</button></a>
                </div>
            </div>
            <div class="card col-2 border-0">
                <a href="" class="imgStyle img6Style "></a>
                <!-- <img src="imgs/1.jpg" class="card-img-top" alt="..."> -->
                <div class="card-body lh-lg">
                    <p class="">product </p>
                    <p>category</p>
                    <p>
                        <i class="fa-solid fa-star text-secondary "></i>
                        <i class="fa-solid fa-star text-secondary"></i>
                        <i class="fa-solid fa-star text-secondary"></i>
                        <i class="fa-solid fa-star text-secondary"></i>
                        <i class="fa-solid fa-star text-secondary"></i>
                    </p>
                    <p><span class="text-decoration-line-through text-secondary">$89 </span><span
                            class="text-danger">$49</span></p>
                    <p>
                        <i class="fa-solid fa-circle text-danger"></i>
                        <i class="fa-solid fa-circle text-dark"></i>
                        <i class="fa-solid fa-circle text-warning"></i>
                        <i class="fa-solid fa-circle text-secondary"></i>
                    </p>
                    <a href=" "> <button class="btn btn-transperent border-dark">Select Options</button></a>
                </div>
            </div>
            <div class="card col-2 border-0">
                <a href="" class="imgStyle img7Style "></a>
                <!-- <img src="imgs/1.jpg" class="card-img-top" alt="..."> -->
                <div class="card-body lh-lg">
                    <p class="">product </p>
                    <p>category</p>
                    <p>
                        <i class="fa-solid fa-star text-secondary "></i>
                        <i class="fa-solid fa-star text-secondary"></i>
                        <i class="fa-solid fa-star text-secondary"></i>
                        <i class="fa-solid fa-star text-secondary"></i>
                        <i class="fa-solid fa-star text-secondary"></i>
                    </p>
                    <p><span class="text-decoration-line-through text-secondary">$89 </span><span
                            class="text-danger">$49</span></p>
                    <p>
                        <i class="fa-solid fa-circle text-danger"></i>
                        <i class="fa-solid fa-circle text-dark"></i>
                        <i class="fa-solid fa-circle text-warning"></i>
                        <i class="fa-solid fa-circle text-secondary"></i>
                    </p>
                    <a href=" "> <button class="btn btn-transperent border-dark">Select Options</button></a>
                </div>
            </div>
    </section>

    <section class="container  ">
        <h4 class="">COLLECTIONS</h4>
        <div class="progress mt-4 mb-4" style="height: 3px;">
            <div class="progress-bar" role="progressbar" style="width: 18%;" aria-valuenow="25" aria-valuemin="0"
                aria-valuemax="100"></div>
        </div>
        <div class="row  justify-content-between">
            <div class="col-4 cardStyle card2Style">
                <button class="btn transperent border border-2 border-dark p-2 ">SHOP NOW</button>
            </div>
            <div class="card col-2 border-0">
                <a href="" class="imgStyle img8Style "></a>
                <!-- <img src="imgs/1.jpg" class="card-img-top" alt="..."> -->
                <div class="card-body lh-lg">
                    <p class="">product </p>
                    <p>category</p>
                    <p>
                        <i class="fa-solid fa-star text-secondary "></i>
                        <i class="fa-solid fa-star text-secondary"></i>
                        <i class="fa-solid fa-star text-secondary"></i>
                        <i class="fa-solid fa-star text-secondary"></i>
                        <i class="fa-solid fa-star text-secondary"></i>
                    </p>
                    <p><span class="text-decoration-line-through text-secondary">$89 </span><span
                            class="text-danger">$49</span></p>
                    <p>
                        <i class="fa-solid fa-circle text-danger"></i>
                        <i class="fa-solid fa-circle text-dark"></i>
                        <i class="fa-solid fa-circle text-warning"></i>
                        <i class="fa-solid fa-circle text-secondary"></i>
                    </p>
                    <a href=" "> <button class="btn btn-transperent border-dark">Select Options</button></a>
                </div>
            </div>
            <div class="card col-2 border-0">
                <a href="" class="imgStyle img9Style "></a>
                <!-- <img src="imgs/1.jpg" class="card-img-top" alt="..."> -->
                <div class="card-body lh-lg">
                    <p class="">product </p>
                    <p>category</p>
                    <p>
                        <i class="fa-solid fa-star text-secondary "></i>
                        <i class="fa-solid fa-star text-secondary"></i>
                        <i class="fa-solid fa-star text-secondary"></i>
                        <i class="fa-solid fa-star text-secondary"></i>
                        <i class="fa-solid fa-star text-secondary"></i>
                    </p>
                    <p><span class="text-decoration-line-through text-secondary">$89 </span><span
                            class="text-danger">$49</span></p>
                    <p>
                        <i class="fa-solid fa-circle text-danger"></i>
                        <i class="fa-solid fa-circle text-dark"></i>
                        <i class="fa-solid fa-circle text-warning"></i>
                        <i class="fa-solid fa-circle text-secondary"></i>
                    </p>
                    <a href=" "> <button class="btn btn-transperent border-dark">Select Options</button></a>
                </div>
            </div>
            <div class="card col-2 border-0">
                <a href="" class="imgStyle img10Style "></a>
                <!-- <img src="imgs/1.jpg" class="card-img-top" alt="..."> -->
                <div class="card-body lh-lg">
                    <p class="">product </p>
                    <p>category</p>
                    <p>
                        <i class="fa-solid fa-star text-secondary "></i>
                        <i class="fa-solid fa-star text-secondary"></i>
                        <i class="fa-solid fa-star text-secondary"></i>
                        <i class="fa-solid fa-star text-secondary"></i>
                        <i class="fa-solid fa-star text-secondary"></i>
                    </p>
                    <p><span class="text-decoration-line-through text-secondary">$89 </span><span
                            class="text-danger">$49</span></p>
                    <p>
                        <i class="fa-solid fa-circle text-danger"></i>
                        <i class="fa-solid fa-circle text-dark"></i>
                        <i class="fa-solid fa-circle text-warning"></i>
                        <i class="fa-solid fa-circle text-secondary"></i>
                    </p>
                    <a href=" "> <button class="btn btn-transperent border-dark">Select Options</button></a>
                </div>
            </div>
    </section>

    <section class="container ">
        <h4 class="">RECOMMENDED FOR YOU</h4>
        <div class="row">
            <div class="card col-3 border-0">
                <a href="" class="imgStyle img1Style "></a>
                <!-- <img src="imgs/8" alt="..."> -->
                <div class="card-body lh-lg">
                    <p class="">product </p>
                    <p>category</p>
                    <p>
                        <i class="fa-solid fa-star text-secondary "></i>
                        <i class="fa-solid fa-star text-secondary"></i>
                        <i class="fa-solid fa-star text-secondary"></i>
                        <i class="fa-solid fa-star text-secondary"></i>
                        <i class="fa-solid fa-star text-secondary"></i>
                    </p>
                    <p><span class="text-decoration-line-through text-secondary">$89 </span><span
                            class="text-danger">$49</span></p>
                    <p>
                        <i class="fa-solid fa-circle text-danger"></i>
                        <i class="fa-solid fa-circle text-dark"></i>
                        <i class="fa-solid fa-circle text-warning"></i>
                        <i class="fa-solid fa-circle text-secondary"></i>
                    </p>
                    <a href=" "> <button class="btn btn-transperent border-dark">Select Options</button></a>
                </div>
            </div>
            <div class="card col-3 border-0">
                <a href="" class="imgStyle img2Style "></a>
                <!-- <img src="imgs/9.webp" class="card-img-top" alt="..."> -->
                <div class="card-body lh-lg">
                    <p class="">product </p>
                    <p>category</p>
                    <p>
                        <i class="fa-solid fa-star text-secondary "></i>
                        <i class="fa-solid fa-star text-secondary"></i>
                        <i class="fa-solid fa-star text-secondary"></i>
                        <i class="fa-solid fa-star text-secondary"></i>
                        <i class="fa-solid fa-star text-secondary"></i>
                    </p>
                    <p><span class="text-decoration-line-through text-secondary">$89 </span><span
                            class="text-danger">$49</span></p>
                    <p>
                        <i class="fa-solid fa-circle text-danger"></i>
                        <i class="fa-solid fa-circle text-dark"></i>
                        <i class="fa-solid fa-circle text-warning"></i>
                        <i class="fa-solid fa-circle text-secondary"></i>
                    </p>
                    <a href=""> <button class="btn btn-transperent border-dark">Select Options</button></a>
                </div>
            </div>
            <div class="card col-3 border-0">
                <a href="" class="imgStyle img3Style "></a>
                <!-- <img src="imgs/10.webp" class="card-img-top" alt="..."> -->
                <div class="card-body lh-lg">
                    <p class="">product </p>
                    <p>category</p>
                    <p>
                        <i class="fa-solid fa-star text-secondary "></i>
                        <i class="fa-solid fa-star text-secondary"></i>
                        <i class="fa-solid fa-star text-secondary"></i>
                        <i class="fa-solid fa-star text-secondary"></i>
                        <i class="fa-solid fa-star text-secondary"></i>
                    </p>
                    <p><span class="text-decoration-line-through text-secondary">$89 </span><span
                            class="text-danger">$49</span></p>
                    <p>
                        <i class="fa-solid fa-circle text-danger"></i>
                        <i class="fa-solid fa-circle text-dark"></i>
                        <i class="fa-solid fa-circle text-warning"></i>
                        <i class="fa-solid fa-circle text-secondary"></i>
                    </p>
                    <a href=""> <button class="btn btn-transperent border-dark">Select Options</button> </a>
                </div>
            </div>
            <div class="card col-3 border-0">
                <a href="" class="imgStyle img4Style"></a>
                <!-- <img src="imgs/11.webp" class="card-img-top" alt="..."> -->
                <div class="card-body lh-lg">
                    <p class="">product </p>
                    <p>category</p>
                    <p>
                        <i class="fa-solid fa-star text-secondary "></i>
                        <i class="fa-solid fa-star text-secondary"></i>
                        <i class="fa-solid fa-star text-secondary"></i>
                        <i class="fa-solid fa-star text-secondary"></i>
                        <i class="fa-solid fa-star text-secondary"></i>
                    </p>
                    <p><span class="text-decoration-line-through text-secondary">$89 </span><span
                            class="text-danger">$49</span></p>
                    <p>
                        <i class="fa-solid fa-circle text-danger"></i>
                        <i class="fa-solid fa-circle text-dark"></i>
                        <i class="fa-solid fa-circle text-warning"></i>
                        <i class="fa-solid fa-circle text-secondary"></i>
                    </p>
                    <a href=""> <button class="btn btn-transperent border-dark">Select Options</button> </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card col-3 border-0">
                <a href="" class="imgStyle img1Style "></a>
                <!-- <img src="imgs/8" alt="..."> -->
                <div class="card-body lh-lg">
                    <p class="">product </p>
                    <p>category</p>
                    <p>
                        <i class="fa-solid fa-star text-secondary "></i>
                        <i class="fa-solid fa-star text-secondary"></i>
                        <i class="fa-solid fa-star text-secondary"></i>
                        <i class="fa-solid fa-star text-secondary"></i>
                        <i class="fa-solid fa-star text-secondary"></i>
                    </p>
                    <p><span class="text-decoration-line-through text-secondary">$89 </span><span
                            class="text-danger">$49</span></p>
                    <p>
                        <i class="fa-solid fa-circle text-danger"></i>
                        <i class="fa-solid fa-circle text-dark"></i>
                        <i class="fa-solid fa-circle text-warning"></i>
                        <i class="fa-solid fa-circle text-secondary"></i>
                    </p>
                    <a href=" "> <button class="btn btn-transperent border-dark">Select Options</button></a>
                </div>
            </div>
            <div class="card col-3 border-0">
                <a href="" class="imgStyle img2Style "></a>
                <!-- <img src="imgs/9.webp" class="card-img-top" alt="..."> -->
                <div class="card-body lh-lg">
                    <p class="">product </p>
                    <p>category</p>
                    <p>
                        <i class="fa-solid fa-star text-secondary "></i>
                        <i class="fa-solid fa-star text-secondary"></i>
                        <i class="fa-solid fa-star text-secondary"></i>
                        <i class="fa-solid fa-star text-secondary"></i>
                        <i class="fa-solid fa-star text-secondary"></i>
                    </p>
                    <p><span class="text-decoration-line-through text-secondary">$89 </span><span
                            class="text-danger">$49</span></p>
                    <p>
                        <i class="fa-solid fa-circle text-danger"></i>
                        <i class="fa-solid fa-circle text-dark"></i>
                        <i class="fa-solid fa-circle text-warning"></i>
                        <i class="fa-solid fa-circle text-secondary"></i>
                    </p>
                    <a href=""> <button class="btn btn-transperent border-dark">Select Options</button></a>
                </div>
            </div>
            <div class="card col-3 border-0">
                <a href="" class="imgStyle img3Style "></a>
                <!-- <img src="imgs/10.webp" class="card-img-top" alt="..."> -->
                <div class="card-body lh-lg">
                    <p class="">product </p>
                    <p>category</p>
                    <p>
                        <i class="fa-solid fa-star text-secondary "></i>
                        <i class="fa-solid fa-star text-secondary"></i>
                        <i class="fa-solid fa-star text-secondary"></i>
                        <i class="fa-solid fa-star text-secondary"></i>
                        <i class="fa-solid fa-star text-secondary"></i>
                    </p>
                    <p><span class="text-decoration-line-through text-secondary">$89 </span><span
                            class="text-danger">$49</span></p>
                    <p>
                        <i class="fa-solid fa-circle text-danger"></i>
                        <i class="fa-solid fa-circle text-dark"></i>
                        <i class="fa-solid fa-circle text-warning"></i>
                        <i class="fa-solid fa-circle text-secondary"></i>
                    </p>
                    <a href=""> <button class="btn btn-transperent border-dark">Select Options</button> </a>
                </div>
            </div>
            <div class="card col-3 border-0">
                <a href="" class="imgStyle img4Style"></a>
                <!-- <img src="imgs/11.webp" class="card-img-top" alt="..."> -->
                <div class="card-body lh-lg">
                    <p class="">product </p>
                    <p>category</p>
                    <p>
                        <i class="fa-solid fa-star text-secondary "></i>
                        <i class="fa-solid fa-star text-secondary"></i>
                        <i class="fa-solid fa-star text-secondary"></i>
                        <i class="fa-solid fa-star text-secondary"></i>
                        <i class="fa-solid fa-star text-secondary"></i>
                    </p>
                    <p><span class="text-decoration-line-through text-secondary">$89 </span><span
                            class="text-danger">$49</span></p>
                    <p>
                        <i class="fa-solid fa-circle text-danger"></i>
                        <i class="fa-solid fa-circle text-dark"></i>
                        <i class="fa-solid fa-circle text-warning"></i>
                        <i class="fa-solid fa-circle text-secondary"></i>
                    </p>
                    <a href=""> <button class="btn btn-transperent border-dark">Select Options</button> </a>
                </div>
            </div>
        </div>
    </section>
