
<section >
<div class="container ">
    <br>

    <!-- <h3>MY CART</h3> -->
    <br>
  <div class="row justify-content-between">
        <div class="col-9">
            <table class="table table-borderless align-middle ">
                <thead>
                    <tr>
                        <th>PRODUCT</th>
                         <th></th>
                        <th>PRICE</th>
                        <th>QUANTITY</th>
                        <th></th>
                        <th>Sub Price</th>
                    </tr>
                </thead>

                <tbody class="table-group-divider ">

                    <tr class="cart" *ngFor="let item of carts">
                        <td style="color: gray;">{{item.name}}</td>
                        <td>                          
                               <img src="https://localhost:50001{{item.src}}" width="70px" height="70px" alt="">                               
                        </td>
                        <td> ${{item.price}}</td>
                        <td><input class="" style="width:50px ;" type="number" id="quantity" name="quantity" min="1"
                                max="100" step="1" #qty (change)="Ubd(item.id,qty.value )" [value]="item.quantity"></td>
                      

                        <td><button class="btn  text-white" style="background-color: blueviolet; ;"
                                (click)="Del(item.id)">DELETE</button></td>

                        <td> ${{item.price * item.quantity}}</td>
                    </tr>

                </tbody>
                <br>
                <tfoot class="">Total Price <span> ${{sum}} </span></tfoot>
            </table>
            <a class="btn btnAdd" routerLink="/order">ADD ORDER</a>
        </div>

        <div class="col-2">
            <br>
            <br>
            <div class="row">
                <div class="col-6">
                    <h5>

                    </h5>
                </div>
                <div class="col-6">
                    <h5></h5>
                </div>
            </div>
        </div>
    </div>
</div>
</section>