@using ELECTIENDA.ViewModel;

@model ShopEditViewModel;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers
@{
    Layout = "_LayoutProviderPanelComponents";
}
@{
    ProviderViewModel provider = ViewBag.Provider;
}

<html>
    <head>
        <link rel="stylesheet" href="~/Content/lib/twitter-bootstrap/css/bootstrap.css"/>
    </head>
    <body style="text-align:center">
        <section></section>
        <main>
            <form style="background-color:cadetblue !important; border-radius:4rem 0 4rem 0rem; border:0.1rem solid blue; padding:3rem ; width:50rem ; margin-left:20rem;margin-top:5rem;" method="post" asp-action="Add" asp-controller="Shop" enctype="multipart/form-data">
                <label asp-for="ProviderId" hidden></label>
                
  <div  class="mb-3">

    <label asp-for="Name" class="form-label"></label>
    <input asp-for="Name" class="form-control aria-describedby="emailHelp">
   
  </div>
  <div class="mb-3">
    <label asp-for="Address" class="form-label"></label>
    <input asp-for="Address" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="mb-3">
    <label asp-for="ImgSrc" class="form-label"></label>
    <input asp-for="ImgSrc" class="form-control" id="exampleInputPassword1" type="file">
    <span asp-validation-for="ImgSrc" style="color:red"></span>

  </div> 
  <div class="form-group">
      @*  <label asp-for="Images"></label>
        <div class="custom-file">
            <input asp-for="Images" class="custom-file-input" id="customFile">
            <label class="custom-file-label" for="customFile">Choose file</label>
        </div>*@
        @*<span asp-validation-for="CategoryId" class="text-danger"></span>*@

       @* <label asp-for="CategoryId"></label>
        <select asp-for="CategoryId" class="form-control">
        </select>*@
        @*<span asp-validation-for="CategoryId" class="text-danger"></span>*@
    </div>
    
    <div> @*
        <label asp-for="ProviderId"></label> 
        <input asp-for="ProviderId" /> *@
<input asp-for="ProviderId"  type="hidden"/>
    </div> 

     
  <button type="submit" class="btn btn-primary">Add</button>

</form>


        </main>
       <section></section>
       </body>
</html>
