
   



/* Start Contact */ 
  .contact { 
    padding-top: var(--section-padding); 
    padding-bottom: var(--section-padding); 
  } 
  .contact .content { 
    display: flex; 
    justify-content: space-between; 
  } 
  @media (max-width: 767px) { 
    .contact .content { 
      flex-direction: column; 
    } 
  } 
  .contact .content form { 
    flex-basis: 70%; 
  } 
  .contact .content form .main-input { 
    padding: 20px; 
    display: block; 
    border: 1px solid #ccc; 
    margin-bottom: 30px; 
    width: 100%; 
  } 
  .contact .content form .main-input:focus { 
    outline: none; 
  } 
  .contact .content form textarea.main-input { 
    height: 200px; 
  } 
  .contact .content form input[type="submit"] { 
    background-color: var(--main-color); 
    color: white; 
    padding: 20px; 
    border: none; 
    display: flex; 
    margin-left: auto; 
    text-transform: uppercase; 
    cursor: pointer; 
  } 
  .contact .content .info { 
    flex-basis: 25%; 
  } 
  @media (max-width: 767px) { 
    .contact .content .info { 
      order: -1; 
      text-align: center; 
    } 
  } 
  .contact .content .info h4 { 
    text-transform: uppercase; 
    margin-bottom: 30px; 
    font-weight: 500; 
    font-size: 18px; 
  } 
  .contact .content .info .phone { 
    display: block; 
    color: #777; 
    margin-bottom: 10px; 
  } 
  .contact .content .info h4:nth-of-type(2) { 
    margin-top: 90px; 
  } 
  @media (max-width: 767px) { 
    .contact .content .info h4:nth-of-type(2) { 
      margin-top: 30px; 
    } 
  } 
  .contact .content .info address { 
    color: #777; 
    line-height: 2; 
  } 
  @media (max-width: 767px) { 
    .contact .content .info address { 
      margin-bottom: 40px; 
    } 
  }
