
<body style="display: flex; 
justify-content: center;">   

    <div  class="infocardContainer"> 
      <div id="main"> 
        <img src="assets/IMG_0306.jpg"> 
      </div> 
      <div id="textbois"> 
        <h2>Taha Farg</h2> 
        <h4>.Net Developer</h4> 
        </div> 
      </div> 
     
     <div>  
    <div class="infocardContainer"> 
      <div id="main"> 
        <img src="assets/IMG_0344.jpg"> 
      </div> 
      <div id="textbois"> 
        <h2>Khadijah Saleh</h2> 
        <h4>.Net Developer</h4> 
        </div> 
      </div> 
    </div> 
       
    <div> 
    <div class="infocardContainer"> 
      <div id="main"> 
        <img src="assets/IMG_9416.jpg"></div>
      </div> 
      <div id="textbois"> 
        <h2> Sabah Seraj</h2> 
        <h4>.Net Developer</h4> 
        </div> 
      </div> 
  
        
    <div class="infocardContainer"> 
      <div id="main"> 
        <img src="assets/IMG_9473.jpg"> 
      </div> 
      <div id="textbois"> 
        <h2>Lamiaa Khaled</h2> 
        <h4>.Net Developer</h4> 
        </div> 
      </div> 
    <!-- <img id="backgound" src="./3053975.jpg" alt=""> --> 
</body>