form
{
    width: 20rem; 
    justify-content:center;
     text-align: center ; 
     margin-left: auto;
     margin-top:3rem;
      border: rgb(77, 77, 196) 0.2rem solid;padding: 1.5rem;border-radius: 2rem;
      background-color: #828EAD
      ;
}



.img-style
{
    /* background-image: url(assets/imgs/bj.jpg); */
 

}
